*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: "gilory";
  color: #fff;
}
html,body{
    height: 100%;
    width: 100%;

}
#loader{
    height: 100%;
    width: 100%;
    background-color: rgb(3, 26, 52);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 999;
    top: 0%;

    animation-name: load;
    animation-duration: 2.6s;
    animation-fill-mode: forwards;
    animation-duration: 2 s;
}
#loader img{
    height: 300px;
    animation-name:loading;
    animation-duration: 3s;
}
@keyframes loading{
   0%{
    scale: 0;
   }
   50%{
    scale: 0.5;
   }
   100%{
    scale: 1;
   }
}
@keyframes load{
    0%{
        top: 0;
    }
    60%{
        top: 0;
    }
    100%{
        top: -100%;
    }
}
#main{
    height: 100%;
    width: 100%;
    position:relative;
    background-color: #283140;
    /* background: linear-gradient(to right,#283748,#4a545f); */
    background: linear-gradient(to right,#283140);
    display: flex;
    overflow: hidden;
}
#nav{
    height: 70px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 99;

    animation-name:navanim;
    animation-duration: 1 s;
    animation-delay: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
}
#nav img{
    height: 40px;
}
#nav-prt2{
display: flex;
}
#nav h4{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 20px;

}
#nav h5{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 30px;

}
#nav-prt3{
    display: flex;
}
#nav>i {
    background-color: blue;
    padding: 8px;
    background-color: rgba(201,201,201,0.512);
    border-radius: 50%;
}
#left {
height: 100%;
width: 55%;
position: relative;
padding: 100px 150px;
z-index: 99;
}
#left h3{
    font-size: 30px;
    margin-bottom: 10px;

    animation-name: leftanim;
    animation-duration: 0.5s;
    animation-delay: 4s;
    animation-fill-mode: forwards;

}
#left h1{
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 68%;

    animation-name: leftanim;
    animation-duration: 0.5s;
    animation-delay: 4.3s;
    animation-fill-mode: forwards;


}
#left h5 i{
    color: gold;
    font-size: 18px;
    margin-right: 8px;

    animation-name: leftanim;
    animation-duration: 0.5s;
    animation-delay: 4.6s;
    animation-fill-mode: forwards;

}
#left p{
    margin-top: 10px;
    margin-bottom:10px ;
    font-size: 17px;
    line-height: 1.3;

}
#left button{
    font-size: 30px;
    border-radius: 50px;
    background-color: red;
    padding: 12px 20px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    
}
#right{
    height: 100%;
    width: 45%;
    background-color: #EE3966;
    background: linear-gradient(#EE3966 #ff5681);
    clip-path: polygon(0 0,100% 0,100% 100%,50% 100%);

}
#main>img {
    position: absolute;
    height:400px ;
    transform:rotateY(180deg) rotateZ(30deg);
    top: 15%;
    left: 40%;
    filter: brightness(1.3);
    z-index: 99;
    

}
#main>h1{ 
     font-size: 350px; 
     white-space:nowrap; 
     left: -60px; 
     z-index: 1; 
     top: 10%; 
     color: rgba(0,0,0,0.294); 
     font-family: Arial, Helvetica, sans-serif;
     position: absolute; 
}






























